*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
app/src/main/res/drawable-hdpi/ic_search_white_24dp.png
app/src/main/res/drawable-mdpi/ic_search_white_24dp.png
app/src/main/res/drawable-xhdpi/ic_search_white_24dp.png
app/src/main/res/drawable-xxhdpi/ic_search_white_24dp.png
app/src/main/res/drawable-xxxhdpi/ic_search_white_24dp.png
