<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="invest.com.swapp">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:name=".App"
        >
        <service android:name=".service.StocksUpdateService"
            android:enabled="true"
            android:exported="false"
            />
        <activity
            android:name=".NavDrawer"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ViewNews" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invest.com.swapp.MasterActivity" />
        </activity>
        <activity android:name=".NewsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invest.com.swapp.MasterActivity" />
        </activity>
        <!--
         Production ca-app-pub-4268048783942748~4717310066
             Testing ca-app-pub-3940256099942544~3347511713
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4268048783942748~4717310066" />

        <activity
            android:name=".MasterActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:label="swapp"
            android:launchMode="singleTask"
            >

        </activity>
        <activity
            android:name=".auth.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invest.com.swapp.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".auth.ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".auth.ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invest.com.swapp.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".StockItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invest.com.swapp.MasterActivity" />
        </activity>
        <activity
            android:name=".StockItemDetailActivity"
            android:label="@string/title_stockitem_detail"
            android:parentActivityName=".StockItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invest.com.swapp.StockItemListActivity" />
        </activity>
        <activity android:name=".InvestActivity" />
    </application>

</manifest>